.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}
.sobre-conteudo {
  padding-left: 80px;
}
.sobre-conteudo h4 {
  margin-bottom: 12px;
}
.sobre-conteudo p {
  margin-bottom: 40px;
}
.sobre-conteudo .sobre-lista ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}
.sobre-conteudo .sobre-lista ul li {
  display: flex;
  gap: 8px;
  align-items: center;
}
@media (max-width: 1050px) {
  .sobre {
    grid-template-columns: 1fr;
  }
  .sobre-imagem {
    display: flex;
    justify-content: center;
    order: 2;
  }
  .sobre-conteudo {
    padding-left: 0px;
  }
  .sobre .botao {
    margin-bottom: 40px;
  }
}
@media (max-width: 281px) {
  .sobre-conteudo .sobre-lista ul {
    grid-template-columns: 1fr;
  }
  .sobre {
    margin-bottom: 60px;
  }
}
